[submodule "src/mui-lib"]
	path = src/mui-lib
	url = https://github.com/zhanbei/mui-lib.git
[submodule "src/mui-views"]
	path = src/mui-views
	url = https://github.com/mui-lib/mui-views.git
[submodule "src/graphic"]
	path = src/graphic
	url = https://github.com/netoe/Neto-Graphics.git
[submodule "src/demo"]
	path = src/demo
	url = https://github.com/netoll/Neto-Demo.git
[submodule "src/utils"]
	path = src/utils
	url = https://github.com/zhanbei/js-utils.git
